RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ajax$ ajax.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^forget-password/(.*)$ forget-password.php [NC]